<plugin name='grails-config-annotation' version='1.0' grailsVersion='2.1 &gt; *'>
  <author>Your name</author>
  <title>Grails Config Annotation Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/grails-config-annotation</documentation>
  <type>GrailsConfigAnnotationGrailsPlugin</type>
  <resources>
    <resource>com.MySuperService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>