<plugin name='grails-config-annotation' version='1.0' grailsVersion='2.0 &gt; *'>
  <author>fedor.belov</author>
  <authorEmail>fedor.belov@mail.ru</authorEmail>
  <title>Grails Config Annotation Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>https://github.com/fedotxxl/grails-config-annotation/blob/master/README.md</documentation>
  <type>GrailsConfigAnnotationGrailsPlugin</type>
  <resources>
    <resource>spring.resources</resource>
    <resource>com.tenlittleniggers.grails.config.test.MainController</resource>
    <resource>com.tenlittleniggers.grails.config.test.SimpleService</resource>
    <resource>com.tenlittleniggers.grails.config.test.TransactionalService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <test>
      <dependency group='org.spockframework' name='spock-grails-support' version='0.7-groovy-1.8' />
      <dependency group='org.grails.plugins' name='spock' version='0.7' />
    </test>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>